@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");
@media (min-width: 200px) {
}

/* Start Section 과 Login 같이 있음 Start Section에 쓸게 거의 없어서 같이 씀 */

#agree :hover {
  color: gray;
  border-end-end-radius: 20;
}

Start p {
  font-size: 20px;
}

.Login h1 {
  font-family: "Do Hyeon", sans-serif;
  font-weight: bold;
  color: #474646;
  margin-top: -200px;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

/* 리멤버미체크박스 */
.form-signin .checkbox {
  font-weight: normal;
  font-size: large;
  color: gray;
}

.form-signin .checkbox {
  font-weight: 600;
  font-size: initial;
  color: gray;
}

.form-signin .form-control {
  position: relative;
  font-size: 5px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.account-wall {
  margin-top: 20px;
  padding: 40px 0px 20px 0px;
  background-color: #f7f7f7;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  border-radius: 7%;
  width: 400px;
  position: absolute;
  left: 765px;
  bottom: 200px;
}

.login-title {
  color: #555;
  font-size: 10px;
  font-weight: 400;
  display: block;
}

.profile-img {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.need-help {
  margin-top: 10px;
  font-size: x-large;
}

.new-account {
  display: block;
  margin-top: 10px;
  font-size: x-large;
}

.col-md-4 {
  flex: 1 0 auto;
  width: 33.333333%;
}

#sign {
  color: #fff;
  background-color: #ddddff;
  border-color: #ddddff;
}

.btn-primary {
  color: #fff;
  background-color: lightgrey !important;
  border-color: #9f9fa5;
}
.btn-primary :hover {
  color: #fff;
  background-color: lightgrey !important;
  border-color: #2a04ff;
}
